<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Covid Retail</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= orders_path %>">Ordenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= clients_path %>">Clientes</a>
        </li>
        <% if !user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
        </li>
        <% else %>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, class: "btn btn-outline-danger", method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>